
/* ----- ----- ---- ----- */
/* PROJECTS               */
/* ----- ----- ---- ----- */

.project {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: calc(var(--unit) * 4);
  margin-bottom: calc(var(--unit) * 2);

  /* border: 1px solid white; */
}

.project-image {
  flex: 0 0 50%;
  height: inherit;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: textFadeUp 0.75s var(--delay) forwards;
  animation-timing-function: var(--ttf);
}

.project-text {
  flex: 0 0 calc(50% - 50px);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  opacity: 0;
  animation: textFadeUp 0.75s var(--delay) forwards;
  animation-timing-function: var(--ttf);
}

.project-text .title, .project-text .info {
  flex: 0 0 25%;
}

.project-text .description {
  flex: 0 0 50%;
}

.project-footer {
  position: absolute;
  bottom: -25px;
  height: 20px;
  width: 50%;
  order: 3;
  transition-duration: 0.5s;
  transform-origin: left center;

  transform: scaleX(0);
  opacity: 0;
  animation-timing-function: var(--ttf);
}

.project:hover .project-footer {
  transform: scaleX(1);
  opacity: 1;
}




/* KEYFRAMES */

@keyframes textFadeUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imageFadeRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ----- ----- ---- ----- */
/* MEDIA QUERIES          */
/* ----- ----- ---- ----- */

/* 
desktop: 1920-1200
tablet: 1200-750
mobile: 750-- 
*/

/* tablet styling */
/* @media only screen and (max-width: 1200px) {
  .project-text .title, .project-text .info {
    flex: 0 0 50%;
  }
  
  .project-text .info {
    text-align: right;
  }

  .project-text .description {
    padding-top: var(--unit);
    box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
    flex: 0 0 100%;
  }

} */
