
/* ----- ----- ---- ----- */
/* PROJECTS               */
/* ----- ----- ---- ----- */

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: calc(var(--unit) * 4) !important;
  margin-bottom: calc(var(--unit) * 2);
  transition-duration: 1s;
}

.project-image {
  flex: 0 0 50%;
  height: inherit;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: textFadeUp 0.75s var(--delay) forwards;
  animation-timing-function: var(--ttf);
}

.project-text {
  flex: 0 0 calc(50% - 50px);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  opacity: 0;
  animation: textFadeUp 0.75s var(--delay) forwards;
  animation-timing-function: var(--ttf);
}

.project-text .title, .project-text .info {
  flex: 0 0 25%;
}

.project-text .description {
  flex: 0 0 50%;
}

.project-footer {
  height: 20px;
  width: 50%;
  
  transition-duration: 0.25s;
  transform-origin: left center;
  transform: scaleX(0);
  opacity: 0;
  animation-timing-function: var(--ttf);
}

.project:hover .project-footer {
  transform: scaleX(1);
  opacity: 1;
}



/* ----- ----- ---- ----- */
/* SCROLL-HOVER BEHAVIOR  */
/* ----- ----- ---- ----- */

.in-view {
  opacity: 1;
}

.out-view {
  opacity: 0.4;
}

.is-hovered {
  opacity: 1;
}
.is-not-hovered {
  opacity: 0.4;
}



/* ----- ----- ---- ----- */
/* LOCALPOST              */
/* ----- ----- ---- ----- */

#localpost-loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: +1;
  padding: 89px;
}

#localpost #overview-canvas {
  position: absolute;
  right: 0;
  margin: auto;
}

#localpost #coaster-canvas {
  position: absolute;
  left: 0;
  z-index: -1;
}

#localpost .row {
  margin-top: 100px;
}



/* ----- ----- ---- ----- */
/* METRO                  */
/* ----- ----- ---- ----- */

#metro * {
  color: #2B2D30;
}

#metro .row {
  margin-top: 100px;
}



/* ----- ----- ---- ----- */
/* MEDIA QUERIES          */
/* ----- ----- ---- ----- */

@media only screen and (max-width: 1200px) {
  .project-footer {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .project-text .title, .project-text .info, .project-text .description {
    flex: 0 0 100%;
    margin-bottom: 25px;
  }
  .project-footer {
    display: none;
  }
}



/* ----- ----- ---- ----- */
/* KEYFRAMES              */
/* ----- ----- ---- ----- */

@keyframes textFadeUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imageFadeRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}