[data-highlight] {
  opacity: 0.4;
  transition-duration: 1s;
}

.in-viewport {
  opacity: 1;
}


/* OVERRIDE HIGHLIGHT */

.override-highlight {
  opacity: 0.4 !important;
}

.override-highlight-hover {
  opacity: 1 !important;
}