:root {
  --unit: 50px;
  --background-shift: calc(50% - 13px);

  --bg-color: #1370FB;
  --dot-color: #3882E8;

  --dot-size: 1px;
  --dot-color: rgba(255, 255, 255, 0.15);

  --grid-moz: -moz-radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size)), -moz-radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size)),#000;
  --grid-webkit: -webkit-radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size)), -webkit-radial-gradient(var(--dot-color) var(--dot-size), transparent var(--dot-size)),#000;

  --ttf: cubic-bezier(.68,0,.32,1);

  --nav-icon-width: 20px;
  --nav-offset: .7778
}



* {
  margin: 0;
  cursor: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: calc(var(--unit) * 4) 0;
  background: var(--grid-moz);
  background: var(--grid-webkit);
  background-position: calc(50% - 0px) calc(var(--unit) / 2);

  -webkit-background-size: var(--unit)  var(--unit);
  -moz-background-size: var(--unit)  var(--unit);
  background-size: var(--unit)  var(--unit);

  background-attachment: scroll;
}

p {
  color: white;
  line-height: calc(var(--unit) / 2)
}

#grid {
  width: calc(22 * var(--unit));
  margin: var(--unit) auto 0 auto;
}

/* test */
#grid #hover-test {
  width: calc(var(--unit) * 10);
  height: calc(var(--unit) * 5);
  background-color: #1f1f1f;
  margin-bottom: var(--unit);
  color: white;
  width: 100%;
  overflow: hidden;
}

.vertical {
  writing-mode: vertical-rl;
}

/* ----- ----- ---- */
/* NAV */
/* ----- ----- ---- */

#sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
  height: 100vh;
}

#nav {
  position: fixed;
  width: calc(var(--unit) * 10);
  height: 100vh;
  top: 0;
  left: 0;

  transform: translateX(-90%);
  animation-timing-function: var(--ttf);
  transition-duration: 0.5s;

  background-color: #e3e3e3;
  z-index: 10;
}

#nav-toggle {
  width: var(--nav-icon-width);
  padding: 50px 0;
  margin: auto;
  height: calc( var(--nav-icon-width) * var(--nav-offset));
}

#nav-toggle:hover polygon {
  fill: red !important;
}

#nav-toggle span {
  display: block;
  position: absolute;
  width: var(--nav-icon-width);
  height: calc(var(--nav-icon-width) * var(--nav-offset));
  transition-duration: 0.5s;
  transition-delay: 0.25s;

}

#nav-toggle svg {
  display: block;
  position: absolute;
  transition-duration: 0.5s;
  transition-delay: 0.25s;
}

#nav-toggle polygon {
  transition-duration: 0.25s;
  transition-delay: 0 !important;
}

#toggle-1 {
  transform: translate(0px, 0px);
}

.toggle-1-open {
  transform: translateY(calc( (var(--nav-icon-width) * var(--nav-offset) / 2) - 0.5px ) ) !important;
}

.toggle-1-open svg {
  transform: rotate(45deg);
}

#toggle-2 {
  transform: translateY(calc( (var(--nav-icon-width) * var(--nav-offset)) - 0.5px ) );
}

.toggle-2-open {
  transform: translateY(calc( (var(--nav-icon-width) * var(--nav-offset) / 2) - 0.5px ) ) !important;
}

.toggle-2-open svg {
  transform: rotate(-45deg);
}

#toggle-3 {
  transform: translateY(calc( (var(--nav-icon-width) * var(--nav-offset) / 2) - 0.5px ) ) !important;
}

.toggle-3-open svg {
  transform: scaleX(0) !important;
}

/* ----- ----- ---- */
/* INTERSECTION OBSERVER */
/* ----- ----- ---- */

[data-highlight] {
  opacity: 0.4;
  transition-duration: 0.25s;
}

.in-viewport {
  opacity: 1;
}

/* MEDIA QUERIES */

/* 
desktop: 1920-1200
tablet: 1200-750
mobile: 750-- 
*/

/* tablet styling */
@media only screen and (max-width: 1200px) {
  #grid {
    width: calc(14 * var(--unit));
  }
}

@media only screen and (max-width: 800px) {
  #grid {
    width: calc(10 * var(--unit));
  }
}




